.products-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.products-list article {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.products-list article p {
    font-size: 16px;
    color: #999999;
    margin-top: 5px;
    line-height: 24px;
}

.products-list article a {
    height: 47px;
    border-radius: 5px;
    border: 2px solid #da552f;
    background: none;
    margin-top: 10px;
    color: #da552f;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.products-list article a:hover {
    background: #da552f;
    color: #ffffff;
}

.products-list .pagination {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.products-list .pagination button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.products-list .pagination p {
    display: flex;
    color: #999999;
    justify-content: center;
    align-items: center;
}

.products-list .pagination button:hover {
    opacity: 0.7;
}

.products-list .pagination button[disabled] {
    opacity: 0.3;
}